<!DOCTYPE html>
<html>
<head>
    <title>Geo-Fencing Application</title>
    <link rel="stylesheet" href="/static/styles/map.css"> <!-- Reference to the external CSS file -->
</head>
<body>
<div id="map"></div>
<script src="/static/js/maps.js"></script>
<script
        src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&libraries=drawing,geometry&callback=initMap"
        async defer></script>
<!-- Add this inside the <body> tag, after <div id="map"></div> -->
<button id="simulateBtn" style="position: fixed; bottom: 20px; right: 20px; z-index: 999; cursor: pointer;">Simulate
</button>

</body>
</html>
